.DS_Store
node_modules
.pnpm-store
.env
.idea
*.log
__pycache__/
*.py[cod]

packages/*/dist
packages/*/cache
packages/*/artifacts
packages/*/typechain-types
packages/*/coverage

.telagent
localdev/
packages/contracts/.openzeppelin/
temp/